<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div  leaflet style="height: 300px; z-index: 0"
          [leafletOptions]="leafletOptions"
          [leafletBaseLayers]="baseLayers"
          [leafletLayersControlOptions]="layersControlOptions"
          (leafletMapReady)="onMapReady($event)"
          [leafletLayers]="layers">
    </div>
  </div>
</div>
  <br>
  <div class="row">
<div class="col-md-12">
  <button type="submit" class="btn btn-primary btn-fw" (click)="sendMessage()">Send This Location</button>
</div>
  </div>
</div>


