<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Base Info</h3>
        <p class="card-description">
          Add New Items and Edit existing Items
        </p>
        <hr>
        <form [formGroup]="baseForm"  class="form-sample" novalidate >
          <p class="card-description">
            Region:
          </p>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm offset-1">
                  <div class="form-radio">
                    <label class="form-check-label">

                      <input  type="radio" class="form-check-input" name="4" id="membershipRadios111"
                              value="1" [(ngModel)]="base.RegionAddEdit" [ngModelOptions]="{standalone: true}" >
                      Add
                    </label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input  type="radio" class="form-check-input" name="4" id="membershipRadios211"
                              value="2" [(ngModel)]="base.RegionAddEdit" [ngModelOptions]="{standalone: true}" >
                      Edit
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.RegionCountry"   >
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><p style="color: red; float: left">*</p> Add/Edit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="RegionAddEditInput" [(ngModel)]="base.RegionAddEditInput" required/>
                </div>
              </div>
              <div *ngIf="baseForm.controls['RegionAddEditInput'].invalid && (baseForm.controls['RegionAddEditInput'].dirty || baseForm.controls['RegionAddEditInput'].touched)" class="alert alert-danger">
                <div *ngIf="baseForm.controls['RegionAddEditInput'].errors?.required">
                  Add/Edit is required.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="baseForm.invalid" >Add</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.RegionState" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">lat:lng:</label>
                <div class="col-sm-9">

                </div>
              </div>

            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm"  >Map</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.RegionCity" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2">

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Region:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.RegionRegion" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-2">

            </div>
          </div>
          <p class="card-description">
            Floor Cover:
          </p>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm offset-1">
                  <div class="form-radio">
                    <label class="form-check-label">

                      <input  type="radio" class="form-check-input" name="321" id="membershipRadios311"
                              value="2" [(ngModel)]="base.FloorCoverAddEdit" [ngModelOptions]="{standalone: true}" >
                      Add
                    </label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input  type="radio" class="form-check-input" name="321" id="membershipRadios321"
                              value="1" [(ngModel)]="base.FloorCoverAddEdit" [ngModelOptions]="{standalone: true}" >
                      Edit
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Type:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.FloorCoverType" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><p style="color: red; float: left">*</p> Add/Edit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="FloorCoverAddEditInput" [(ngModel)]="base.FloorCoverAddEditInput" required />
                </div>
              </div>
              <div *ngIf="baseForm.controls['FloorCoverAddEditInput'].invalid && (baseForm.controls['FloorCoverAddEditInput'].dirty || baseForm.controls['FloorCoverAddEditInput'].touched)" class="alert alert-danger">
                <div *ngIf="baseForm.controls['FloorCoverAddEditInput'].errors?.required">
                  Add/Edit is required.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="baseForm.invalid" >Add</button>
            </div>
          </div>
          <p class="card-description">
            Kitchen Service:
          </p>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm offset-1">
                  <div class="form-radio">
                    <label class="form-check-label">

                      <input  type="radio" class="form-check-input" name="1" id="membershipRadios411"
                              value="1" [(ngModel)]="base.KitchenServiceAddEdit" [ngModelOptions]="{standalone: true}" >
                      Add
                    </label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input  type="radio" class="form-check-input" name="1" id="membershipRadios421"
                              value="2" [(ngModel)]="base.KitchenServiceAddEdit" [ngModelOptions]="{standalone: true}" >
                      Edit
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Type:</label>
                <div class="col-sm-9">
                  <select class="form-control" [(ngModel)]="base.KitchenServiceType" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><p style="color: red; float: left">*</p> Add/Edit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="KitchenServiceAddEditInput" [(ngModel)]="base.KitchenServiceAddEditInput" required/>
                </div>
              </div>
              <div *ngIf="baseForm.controls['KitchenServiceAddEditInput'].invalid && (baseForm.controls['KitchenServiceAddEditInput'].dirty || baseForm.controls['KitchenServiceAddEditInput'].touched)" class="alert alert-danger">
                <div *ngIf="baseForm.controls['KitchenServiceAddEditInput'].errors?.required">
                  Add/Edit is required.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="baseForm.invalid" >Add</button>
            </div>
          </div>
          <p class="card-description">
            Facility:
          </p>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm offset-1">
                  <div class="form-radio">
                    <label class="form-check-label">

                      <input  type="radio" class="form-check-input" name="2" id="membershipRadios511"
                              value="1" [(ngModel)]="base.FacilityAddEdit" [ngModelOptions]="{standalone: true}" >
                      Add
                    </label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input  type="radio" class="form-check-input" name="2" id="membershipRadios521"
                              value="2" [(ngModel)]="base.FacilityAddEdit" [ngModelOptions]="{standalone: true}" >
                      Edit
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Type:</label>
                <div class="col-sm-9">
                  <select class="form-control"  [(ngModel)]="base.FacilityType" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><p style="color: red; float: left">*</p> Add/Edit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="FacilityAddEditInput" [(ngModel)]="base.FacilityAddEditInput" required/>
                </div>
              </div>
              <div *ngIf="baseForm.controls['FacilityAddEditInput'].invalid && (baseForm.controls['FacilityAddEditInput'].dirty || baseForm.controls['FacilityAddEditInput'].touched)" class="alert alert-danger">
                <div *ngIf="baseForm.controls['FacilityAddEditInput'].errors?.required">
                  Add/Edit is required.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="baseForm.invalid" >Add</button>
            </div>
          </div>
          <p class="card-description">
            Property:
          </p>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <div class="col-sm offset-1">
                  <div class="form-radio ">
                    <label class="form-check-label">

                      <input  type="radio" class="form-check-input" name="3" id="membershipRadios611"
                              value="1" [(ngModel)]="base.PropertyAddEdit" [ngModelOptions]="{standalone: true}" >
                      Add
                    </label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-radio">
                    <label class="form-check-label">
                      <input  type="radio" class="form-check-input" name="3" id="membershipRadios621"
                              value="2" [(ngModel)]="base.PropertyAddEdit" [ngModelOptions]="{standalone: true}" >
                      Edit
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Type:</label>
                <div class="col-sm-9">
                  <select class="form-control" [(ngModel)]="base.PropertyType" required>
                    <option>Home</option>
                    <!--<option></option>-->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><p style="color: red; float: left">*</p> Add/Edit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="PropertyAddEditInput" [(ngModel)]="base.PropertyAddEditInput" required/>
                </div>
              </div>
              <div *ngIf="baseForm.controls['PropertyAddEditInput'].invalid && (baseForm.controls['PropertyAddEditInput'].dirty || baseForm.controls['PropertyAddEditInput'].touched)" class="alert alert-danger">
                <div *ngIf="baseForm.controls['PropertyAddEditInput'].errors?.required">
                  Add/Edit is required.
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="baseForm.invalid" >Add</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
