<div class="row">
  <div class="col-lg grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Refine Your Search</h2>
        <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary73">Advisor</label>
            <select class="form-control border-primary" id="exampleSelectPrimary73" [(ngModel)]="param.adviserId" >
              <option *ngFor="let i of searchBase?.listAdvisor"  [ngValue]="i.Id">{{i.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary23">Status</label>
            <select class="form-control border-primary" id="exampleSelectPrimary23" [(ngModel)]="param.statusId" >
              <option *ngFor="let i of searchBase?.listStatus" [ngValue]="i.id">{{i.title}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary40">Region</label>
            <select class="form-control border-primary" id="exampleSelectPrimary40" [(ngModel)]="param.regionId" >
              <option *ngFor="let i of searchBase?.listRegion" [ngValue]="i.id">{{i.title}}</option>
            </select>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary39">Property Type</label>
            <select class="form-control border-primary" id="exampleSelectPrimary39" [(ngModel)]="param.propertyId" >
              <option *ngFor="let i of searchBase?.listPropertys" [ngValue]="i.id">{{i.title}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary38">Property Size</label>
            <select class="form-control border-primary" id="exampleSelectPrimary38" [(ngModel)]="param.areaRangeId" >
              <option *ngFor="let i of searchBase?.listArea" [ngValue]="i.id" >{{i.title}}</option>

            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary37">Price Range</label>
            <select  class="form-control border-primary" id="exampleSelectPrimary37" [(ngModel)]="param.priceRangeId" >
              <option *ngFor="let i of searchBase?.listPrice" [ngValue]="i.id">{{i.title}}</option>
            </select>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleSelectPrimary35">Bed(s)</label>
              <select class="form-control border-primary" id="exampleSelectPrimary35" [(ngModel)]="param.bedroomCount" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">+3</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleSelectPrimary36">Bath(s)</label>
              <select class="form-control border-primary" id="exampleSelectPrimary36"  [(ngModel)]="param.bathroomCount" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">+3</option>
              </select>
            </div>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleSelectPrimary43">Furnish</label>
            <select class="form-control border-primary" id="exampleSelectPrimary43" [(ngModel)]="param.decoratId" >
              <option *ngFor="let i of searchBase?.listDecorat" [ngValue]="i.id">{{i.title}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputName1">By Code</label>
            <input type="number" class="form-control" id="exampleInputName1" placeholder="" [(ngModel)]="param.depoistId">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-8" >
          <button type="button" class="btn btn-info btn-block"  (click)="SearchSubmit()"><i class="fa fa-search"></i></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-6 ">Unapproved Property 2 Result</div>
          <div class="col-md-4 col-sm-6 ">Approved Property 2911 Result</div>
          <div class="col-md-4 col-sm-6 ">Archived Property 657 Result</div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-4 col-sm-6 ">
        <div class="form-group">
          <label for="exampleSelectPrimary"></label>
          <select class="form-control border-primary" id="exampleSelectPrimary">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <div class="card-body">

              <ngb-pagination [collectionSize]="depositCount.count" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [directionLinks]="true" [pageSize]="depositCount.size" [page]="1" aria-label="Default pagination" class="pagination-rounded" (pageChange)="onPageChange($event)"></ngb-pagination>
            </div>
          </div>
        </div>
        </div>


        <h4 class="card-title">Last Approved Properties</h4>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Code
              </th>
              <th>
                Location
              </th>
              <th>
                Advisor
              </th>
              <th>
                Type
              </th>
              <th>
                Size
              </th>
              <th>
                Peyment
              </th>
              <th>
                Date
              </th>
              <th>
                View
              </th>
              <th>
                Image
              </th>
              <th>
                Action
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of depositList">
              <td>
                {{i.id}}
              </td>
              <td>
                {{i.regionTitle}}
              </td>

              <td>
                {{i.adviser}}
              </td>
              <td>
                {{i.propertyTitle}}
              </td>
              <td>
                {{i.buildingArea}}
              </td>
              <td>
                {{i.monthlyRent}}
              </td>
              <td>
                {{i.writeDate}}
              </td>
              <td>
                {{i.viewCount}}
              </td>
              <td>
                {{i.imageCount}}
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-rounded btn-xs"  (click)="EditButton(i.id)">Edit</button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="col-lg-4 ">
          <div class="form-group">
            <label for="exampleSelectPrimary1"></label>
            <select class="form-control border-primary" id="exampleSelectPrimary1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
