<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Base Information</h4>
        <form [formGroup]="angForm"  class="form-sample" novalidate >
          <p class="card-description">
            Agency Details:
          </p>
          <div class="row">

            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Advisor:</label>
                <div  class="col-sm-8">
                  <select class="form-control" [(ngModel)]="model.adviser_id" [ngModelOptions]="{standalone: true}" (change)="GetTextDropDwonAdvisor($event)">
                    <option *ngFor="let i of listarray.listAdvisor" [ngValue]="i.Id">
                      {{i.fullName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Owner Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" ><p style="color: red; float: left">*</p>
                  Landlord:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="ownerName" [(ngModel)]="model.ownerName" required/>
                </div>

              </div>
              <div *ngIf="angForm.controls['ownerName'].invalid && (angForm.controls['ownerName'].dirty || angForm.controls['ownerName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['ownerName'].errors?.required">
                  Landlord is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Phone:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="ownerPhone" [(ngModel)]="model.ownerPhone" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['ownerPhone'].invalid && (angForm.controls['ownerPhone'].dirty || angForm.controls['ownerPhone'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['ownerPhone'].errors?.required">
                  Phone is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p> Mobile:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="ownerMobile" [(ngModel)]="model.ownerMobile" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['ownerMobile'].invalid && (angForm.controls['ownerMobile'].dirty || angForm.controls['ownerMobile'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['ownerMobile'].errors?.required">
                  Mobile is required.
                </div>
              </div>
            </div>

          </div>
          <p class="card-description">
            Listing Information:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Region:</label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="region_id" [(ngModel)]="model.region_id" (change)="GetTextDropDwonRegion($event)" required>
                    <option *ngFor="let i of listarray.listRegion" [ngValue]="i.id">{{i.title}}</option>

                  </select>
                </div>
              </div>
              <div *ngIf="angForm.controls['region_id'].invalid && (angForm.controls['region_id'].dirty || angForm.controls['region_id'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['region_id'].errors?.required">
                  Region is required.
                </div>
              </div>
            </div>


            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><p style="color: red; float: left ">*</p> Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" formControlName="address" [(ngModel)]="model.address" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['address'].invalid && (angForm.controls['address'].dirty || angForm.controls['address'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['address'].errors?.required">
                  Address is required.
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Listing Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Property:</label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="propertyType_id" [(ngModel)]="model.propertyType_id" (change)="GetTextDropDwonPropertyType($event)" required >
                    <option *ngFor="let i of listarray.listPropertys" [ngValue]="i.id">{{i.title}}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="angForm.controls['propertyType_id'].invalid && (angForm.controls['propertyType_id'].dirty || angForm.controls['propertyType_id'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['propertyType_id'].errors?.required">
                  Property is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Shop Center:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" placeholder="0"  [(ngModel)]="model.shopCenterCount" required [ngModelOptions]="{standalone: true}"/>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Unit in
                  floor:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="unitInFloor" [(ngModel)]="model.unitInFloor" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['unitInFloor'].invalid && (angForm.controls['unitInFloor'].dirty || angForm.controls['unitInFloor'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['unitInFloor'].errors?.required">
                  Apartment in floor is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p> Number of
                  floors:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="floorNumber" [(ngModel)]="model.floorNumber" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['floorNumber'].invalid && (angForm.controls['floorNumber'].dirty || angForm.controls['floorNumber'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['floorNumber'].errors?.required">
                  Number of floors is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Floor:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" placeholder="0" formControlName="floorCount" [(ngModel)]="model.floorCount" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['floorCount'].invalid && (angForm.controls['floorCount'].dirty || angForm.controls['floorCount'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['floorCount'].errors?.required">
                  Floor is required.
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Area:</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" formControlName="buildingArea" [(ngModel)]="model.buildingArea" required/>
                </div>
                <div class="col-sm-2" style="font-size: 12px; padding-top: 5px">sqm</div>
              </div>
              <div *ngIf="angForm.controls['buildingArea'].invalid && (angForm.controls['buildingArea'].dirty || angForm.controls['buildingArea'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['buildingArea'].errors?.required">
                  Area is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                      style="color: red; float: left">*</p> Bed(s):</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="bedCount" [(ngModel)]="model.bedCount" required/>
                    </div>
                  </div>
                  <div *ngIf="angForm.controls['bedCount'].invalid && (angForm.controls['bedCount'].dirty || angForm.controls['bedCount'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['bedCount'].errors?.required">
                      Bed is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                      style="color: red; float: left">*</p> Bath(s):</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="bathCount" [(ngModel)]="model.bathCount" required/>
                    </div>
                  </div>
                  <div *ngIf="angForm.controls['bathCount'].invalid && (angForm.controls['bathCount'].dirty || angForm.controls['bathCount'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['bathCount'].errors?.required">
                      Bath is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="form-group row">
                  <div class="form-check col-sm-5 offset-sm-2">
                    <input type="checkbox" class="form-check-input " id="exampleCheck1" [(ngModel)]="model.furnished"  [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label " for="exampleCheck1">Full-Furnished</label>
                  </div>

                  <div class="form-check col-sm-5 ">
                    <input type="checkbox" class="form-check-input " id="exampleCheck2" [(ngModel)]="model.semiFurnished" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label " for="exampleCheck2">Semi-Furnished</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Building Age:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="buildingAge" [(ngModel)]="model.buildingAge" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['buildingAge'].invalid && (angForm.controls['buildingAge'].dirty || angForm.controls['buildingAge'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['buildingAge'].errors?.required">
                  Building Age is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="form-check offset-sm-1 ">
                  <input type="checkbox" class="form-check-input " id="exampleCheck3" [(ngModel)]="model.renovate" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label " for="exampleCheck3">Renovated</label>
                </div>
              </div>
            </div>

          </div>
          <p class="card-description">
            Peyment Details:
          </p>
          <div class="row">

            <div class="col-md-4">

              <div class="row">
                <div class="col-md">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p>
                      Monthly<br>rent:</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="monthlyRent" [(ngModel)]="model.monthlyRent" required/>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="angForm.controls['monthlyRent'].invalid && (angForm.controls['monthlyRent'].dirty || angForm.controls['monthlyRent'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['monthlyRent'].errors?.required">
                  Monthly rent is required.
                </div>
              </div>
            </div>

          </div>

          <p class="card-description">
            Main Features:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Kitchen:</label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="kitchenService_id" [(ngModel)]="model.kitchenService_id" (change)="GetTextDropDwonKitchenService($event)" required>
                    <option *ngFor="let i of listarray.listKitchenService" [ngValue]="i.id">{{i.title}}</option>

                  </select>
                </div>
              </div>
              <div *ngIf="angForm.controls['kitchenService_id'].invalid && (angForm.controls['kitchenService_id'].dirty || angForm.controls['kitchenService_id'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['kitchenService_id'].errors?.required">
                  Kitchen is required.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <div class="form-check offset-sm-1 ">
                  <input type="checkbox" class="form-check-input " id="exampleCheck311" [(ngModel)]="model.isAdvertisement" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label " for="exampleCheck311">Advertisement</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Floor cover:</label>
                <div class="col-sm-8">
                  <select class="form-control" formControlName="floorCover_id"  [(ngModel)]="model.floorCover_id" (change)="GetTextDropDwonFloorCover($event)" required>
                    <option *ngFor="let i of listarray.listFloorCover" [ngValue]="i.id">{{i.title}}</option>

                  </select>
                </div>
              </div>
              <div *ngIf="angForm.controls['floorCover_id'].invalid && (angForm.controls['floorCover_id'].dirty || angForm.controls['floorCover_id'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['floorCover_id'].errors?.required">
                  Floor cover is required.
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                  style="color: red; float: left">*</p> Tel Line:</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="telLineCount" [(ngModel)]="model.telLineCount" required/>
                </div>
              </div>
              <div *ngIf="angForm.controls['telLineCount'].invalid && (angForm.controls['telLineCount'].dirty || angForm.controls['telLineCount'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['telLineCount'].errors?.required">
                  Tel Line is required.
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group row">
                <div class="form-check offset-sm-1 ">
                  <input type="checkbox" class="form-check-input " id="exampleCheck391" [(ngModel)]="model.garage" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label " for="exampleCheck391">Garage</label>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group row">
                <div class="form-check offset-sm-1 ">
                  <input type="checkbox" class="form-check-input " id="exampleCheck321" [(ngModel)]="model.storage" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label " for="exampleCheck321">Storage</label>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <div class="form-check offset-sm-1 ">
                  <input type="checkbox" class="form-check-input " id="exampleCheck31" [(ngModel)]="model.firePlug" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label " for="exampleCheck31">Fire Place</label>
                </div>
              </div>
            </div>

          </div>
          <p class="card-description">
            Additional Features:
          </p>
          <div class="row">

            <div class="col-md" >
              <div class="form-group ">
                <div class="form-check ">
                  <label  *ngFor="let i of listarray.listFacility;" class="col-md-3" >
                  <input type="checkbox" [value]="i.id" [id]="i.id" (change)="setfacility(i.id , $event.target, i.title)" [checked]='i.check' >
                  {{i.title}}
                  </label>
                </div>
              </div>
            </div>


          </div>
          <br>
          <hr>
          <br>
          <p class="card-description">
            SEO:
          </p>
          <div class="row">
            <div class="form-group col">
              <label for="exampleTextarea13">SEO-Description:</label>
              <textarea class="form-control" id="exampleTextarea13" rows="2" [(ngModel)]="model.seoDescription" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="exampleTextarea12">SEO-Title:</label>
              <textarea class="form-control" id="exampleTextarea12" rows="2" [(ngModel)]="model.seoTitle" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>

  <div class="col-md-3 offset-md">
    <button type="submit" class="btn btn-primary btn-fw" [disabled]="angForm.invalid" (click)="VisibleEvent()">Save & Continue</button>
  </div>
</div>



