<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Base Information</h4>
        <form  class="form-sample" novalidate >
          <p class="card-description">
            Agency Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Advisor:</label>
                <div  class="col-sm-8" *ngIf="reviewModel.adviser_title!== null">
                  <span class="form-control" >
                      {{reviewModel.adviser_title}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Owner Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" ><p style="color: red; float: left">*</p>
                  Landlord:</label>
                <div class="col-sm-8">
                  <span class="form-group">
                    {{reviewModel.ownerName}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Phone:</label>
                <div class="col-sm-8">
                 <span class="form-group">
                    {{reviewModel.ownerPhone}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p> Mobile:</label>
                <div class="col-sm-8">
                  <span class="form-group">
                    {{reviewModel.ownerMobile}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Listing Information:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Region:</label>
                <div class="col-sm-8">
                  <span>
                    {{reviewModel.region_title}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label"><p style="color: red; float: left ">*</p> Address</label>
                <div class="col-sm-10">
                   <span class="form-group">
                    {{reviewModel.address}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Listing Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Property:</label>
                <div class="col-sm-8">
                 <span>
                   {{reviewModel.propertyType_title}}
                 </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Shop Center:</label>
                <div class="col-sm-8" *ngIf="reviewModel.shopCenterCount!== undefined">
                  <span class="form-group" >
                    {{reviewModel.shopCenterCount}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Unit in
                  floor:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.unitInFloor}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p> Number of
                  floors:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.floorNumber}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Floor:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.floorCount}}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Area:</label>
                <div class="col-sm-6">
                   <span class="form-group" >
                    {{reviewModel.buildingArea}}
                  </span>
                </div>
                <div class="col-sm-2" style="font-size: 12px; padding-top: 5px">sqm</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                      style="color: red; float: left">*</p> Bed(s):</label>
                    <div class="col-sm-8">
                       <span class="form-group" >
                    {{reviewModel.bedCount}}
                  </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                      style="color: red; float: left">*</p> Bath(s):</label>
                    <div class="col-sm-8">
                      <span class="form-group" >
                    {{reviewModel.bathCount}}
                  </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="form-group row">
                  <div class="form-check col-sm-5 offset-sm-2" *ngIf="reviewModel.furnished!== undefined">
                    <div *ngIf="reviewModel.furnished">
                      <span class="form-group" >
                    furnished
                  </span>
                    </div>
                  </div>
                  <div class="form-check col-sm-5 " *ngIf="reviewModel.semiFurnished!== undefined">
                    <div *ngIf="reviewModel.furnished">
                    <span class="form-group" >
                    semiFurnished
                  </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p> Building Age:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.buildingAge}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row" >
                <div class="form-check offset-sm-1 " *ngIf="reviewModel.renovate!== undefined" >
                  <div *ngIf="reviewModel.renovate">
                   <span class="form-group" >
                    renovate
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Peyment Details:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><p style="color: red; float: left">*</p>
                      Monthly<br>rent:</label>
                    <div class="col-sm-8">
                       <span class="form-group" >
                    {{reviewModel.monthlyRent}}
                  </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Main Features:
          </p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Kitchen:</label>
                <div class="col-sm-8">
                  <span>
                    {{reviewModel.kitchenService_title}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row" >
                <div class="form-check offset-sm-1 " *ngIf="reviewModel.isAdvertisement!== undefined">
                  <div *ngIf="reviewModel.isAdvertisement">
                   <span class="form-group" >
                    Advertisement
                  </span>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label"><p style="color: red; float: left ">*</p>Floor cover:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.floorCover_title}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" style="padding: 0; margin-top: 6px"><p
                  style="color: red; float: left">*</p> Tel Line:</label>
                <div class="col-sm-8">
                  <span class="form-group" >
                    {{reviewModel.telLineCount}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row" >
                <div class="form-check offset-sm-1 " *ngIf="reviewModel.garage!== undefined" >
                  <div *ngIf="reviewModel.garage">
                  <span class="form-group" >
                    Garage
                  </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group row" >
                <div class="form-check offset-sm-1" *ngIf="reviewModel.storage!== undefined">
                  <div *ngIf="reviewModel.storage">
                   <span class="form-group" >
                    Storage
                  </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group row" >
                <div class="form-check offset-sm-1 " *ngIf="reviewModel.firePlug!== undefined">
                  <div *ngIf="reviewModel.storage">
                     <span class="form-group" >
                   Fire Place
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Additional Features:
          </p>
          <div class="row">
            <div class="col-md" *ngIf="reviewModel.depositFac_title!== undefined">
              <div class="form-group">
                <div class="form-check">
                  <label *ngFor="let i of reviewModel.depositFac_title" class="col-md-3" >
                    <span class="form-group" >
                    {{i}}
                  </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <p class="card-description">
            SEO:
          </p>
          <div class="row" >
            <div class="form-group col" *ngIf="reviewModel.seoDescription!== undefined">
              <label >SEO-Description:</label>
              <span class="form-group" >
                    {{reviewModel.seoDescription}}
                  </span>

            </div>
          </div>
          <div class="row" >
            <div class="form-group col" *ngIf="reviewModel.seoTitle!== undefined">
              <label >SEO-Title:</label>
              <span class="form-group" >
                    {{reviewModel.seoTitle}}
                  </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



